@charset "UTF-8";

@font-face {
	font-family: "a";
	src: url("a.TTF");
}

a {
	
	text-decoration: none;
}


body{
	/*
	background-image: url("../imges/bg.jpg");
	*/
	
	background-color: #e2f1fe;
	background-size: cover;
	background-attachment: fixed;
	margin:0px;
	padding: 0px;
	
}
table {
	border-spacing: 0px;
}

input, button, textarea {
	outline: none;
}

button {
	
	cursor: pointer;
}
#siteMenuArea{
	width: 100%;
	position: fixed;
	top: -10px;
	left:0px;
	font-size:18pt;
	z-index: 10;
	transition : all 0.2s ease-out;
}

#siteMenu{
	width: 1000px;
	height: 150px;
}
#siteMenu a:hover {
	text-shadow: 0px 5px 15px #ffb0b0;
}

#siteContentArea{
	margin-top : 160px;
	margin-left :auto;
	margin-right :auto;
	width: 1000px;
	height: 750px;
	font-size: 20pt;
	
}
#loginArea{
	border : #8080c0 solid 5px;
	position: fixed;
	top: 120px;
	right: 50px;
	width: 350px;
	height: 250px;
	text-align: center;
	
}
#loginArea input{
	margin-bottom:5px;
	width: 230px;
	height: 40px;
	font-size: 20pt;
	
}
#loginArea button{
	margin-bottom:5px;
	width: 180px;
	height: 40px;
	font-size: 20pt;
	
}
a:visited{
	color: blue;
	
}

a:active{
	color: red;
}